<section>
	<div class="features">
		<article>
			<span class="icon fa-briefcase"></span>
			<div class="content">
				<h3><a href="{{ '/portfolio/' | absolute_url }}">My portfolio</a></h3>
				<p>Examples of my professional work, and links to other posts I've written, and articles about me.</p>
				<ul class="actions fit small">				
					<li>
						<a href="/assets/docs/johnapaz-content_design-portfolio_04132021.pdf" target="blank" class="button special fit small" icon fa-download download>Download My Portfolio (PDF)</a>
					</li>
				</ul>
			</div>
			
		</article>
		
		<article>
			<span class="icon fa-file"></span>
			<div class="content">
				<h3><a href="{{ '/resume/' | absolute_url }}">My resume</a></h3>
				<p>Contains details of my work history, education, skills, and tools I've used throughout my career.</p>
				<ul class="actions fit small">
					<li>
						<a href="/assets/docs/John_Paz_Content_Design_Manager_resume_02282022.pdf" target="blank" class="button special fit small" icon fa-download download>Download My Resume (PDF)</a>
					</li>				
				</ul>
			</div>
			
			
		</article>
		<!-- <article>
			<a href="{{ '/my-story/' | absolute_url }}"><span class="icon fa-globe"></span></a>
			<div class="content">
				<h3><a href="{{ '/my-story/' | absolute_url }}">My story</a></h3>
				<p>I'm not the typical techie, and I took a less than traditional path towards a job in the tech industry.</p>
			</div>
		</article>
		<article>
			<a href="{{ '/presentations/' | absolute_url }}"><span class="icon fa-film"></span></a>
			<div class="content">
				<h3><a href="{{ '/presentations/' | absolute_url }}">My presentations</a></h3>
				<p>Videos of talks I've given talks on Agile/Scrum, innovation, tech writing, mentoring, diversity, and social justice.</p>
			</div>
		</article> -->
	</div>
</section>
