<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>John Paz</h1>
        <p>Se&ntilde;or Content Design</p>
      </header>
      <p style="text-align: justify;" >I have over 14 years of professional writing and editing experience, and a passion for simplifying the complex. I'm a content-focused design professional with experience writing for a wide range of audiences -- including highly technical audiences, like developers. I'm a tireless user advocate dedicated to enriching user experiences with great content.</p> 
      <p style="text-align: justify;" >I use this site as my professional online portfolio and resume, but also as the place to share my thoughts and expertise through my blog posts. Here you'll find reviews of things I've seen and done, and also 'how-to' tutorials that explain how to do things.</p>
      <p style="text-align: center;">
        <ul class="actions">
          <li><a href="{{ '/resume/' | absolute_url }}" class="button special fit small">Resume</a></li>
          <li><a href="{{ '/portfolio/' | absolute_url }}" class="button special fit small">Portfolio</a></li>
          <li><a href="{{ '/tutorials/' | absolute_url }}" class="button special fit small">Tutorials</a></li>
        </ul>
      </p>
    </div>
    <span class="image object">
      <img src="assets/images/John-splash-1.png" alt="Super professional headshot..." />
      
    </span>
  </section>
