<head>
  <title>{{ page.title | default: site.title | escape }} | John A. Paz</title>
  <meta charset="utf-8" />
  {% if site.staging %}<meta name="robots" content="noindex, nofollow" />{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1, " />
  <!--[if lte IE 8]><script src="{{ 'assets/js/ie/html5shiv.js' | relative_url }}"></script><![endif]-->
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
  <!-- <link rel="stylesheet" href="{{ 'assets/css/argon-design-system.css' | relative_url }}" /> -->
  <link rel="shortcut icon" type="image/png" href="{{ 'assets/images/favicon.png' | relative_url }}" />
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ 'assets/css/ie9.css' | relative_url }}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ 'assets/css/ie8.css' | relative_url }}" /><![endif]-->
  {% include analytics-loader.html %}
  {% include social-meta.html %}
  <link rel="stylesheet" href="{{ "/assets/css/article-v2.css" | relative_url }}?v={{ site.time | date: '%s' }}" />
</head>
