<div class="features">
    <article>
        <span class="icon fa-comment"></span>
        <div class="content">
            <h3>UX writing</h3>
            <p>Plan, write, and improve product content, including interface language like product names, menu items, and other content throughout a user's product journey.</p>
        </div>
    </article>
    <article>
        <span class="icon fa-flask"></span>
        <div class="content">
            <h3>User research</h3>
            <p>Design, plan, execute, and analyze the results of thoughtful user research studies to measure the impact content has on user behavior within a product.</p>
        </div>
    </article>
    <article>
        <span class="icon fa-tasks"></span>
        <div class="content">
            <h3>Content strategy</h3>
            <p>Create, coach, apply, and maintain consistency standards in regards to product content at all stages of the customer journey.</p>
        </div>
    </article>
    <article>
        <span class="icon fa-tint"></span>
        <div class="content">
            <h3>Product design</h3>
            <p>Create meaningful information experiences for users in unexpected places, like in microinteractions or technical logs output, to improve overall UX. </p>
        </div>
    </article>
</div>