<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border:none;}
.tg td{padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg th{padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg .tg-lboi{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-lqy6{text-align:right;vertical-align:top}
.tg .tg-yz93{border-color:inherit;text-align:right;vertical-align:middle}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-dvpl{border-color:inherit;text-align:right;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>

<ul class="actions fit small">
  <li><a target="blank" href="/assets/docs/John_Paz_Senior_Technical_Writer_API_Documentation_Writing_Samples_03062025_Wise.pdf" class="button special fit small icon fa-download">Download in PDF</a></li>
</ul>
