<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search my site" />
          </form>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Nav</h2>
          </header>
          <ul>
            <li><a href="{{ '' | absolute_url }}">Home</a></li>
            <li>
              <span class="opener">About</span>
              <ul>
                <li><a href="{{'/about/' | absolute_url }}">About Me</a></li>
                <li><a href="{{'/resume/' | absolute_url }}">My Resume</a></li>
                <li><a href="{{'/portfolio/' | absolute_url }}">My Portfolio</a></li>
                <li><a href="{{'/my-story/' | absolute_url }}">My Story</a></li>
              </ul>
            </li>
            <li>
              <span class="opener">Tutorials</span>
              <ul>
                <li><a href="{{'/tutorials/' | absolute_url }}">All Tutorials</a></li>
                <li><a href="{{'/tutorials/tech/' | absolute_url }}">How to: Tech</a></li>
                <li><a href="{{'/tutorials/writing/' | absolute_url }}">How to: Writing</a></li>
                <li><a href="{{'/tutorials/parenting/' | absolute_url }}">How to: Parenting</a></li>
                <li><a href="{{'/tutorials/leadership/' | absolute_url }}">How to: Leadership</a></li>
                <li><a href="{{'/tutorials/content-design/' | absolute_url }}">How to: Content Design</a></li>
              </ul>
            </li>
            <li>
              <span class="opener">Reviews</span>
              <ul>
                <li><a href="{{'/reviews/' | absolute_url }}">All Reviews</a></li>
                <li><a href="#">Book reviews</a></li>
                <li><a href="#">Movie reviews</a></li>
                <li><a href="#">TV show reviews</a></li>
                <li><a href="#">Product reviews</a></li>
              </ul>
            </li>
            <li><a href="https://medium.com/@techwriterninja">Blog</a></li>
          </ul>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>About me</h2>
          </header>
          <div class="mini-posts">
            <article>
              <h3>My story</h3>
              <a href="{{'/my-story/' | absolute_url }}" class="image"><img src="{{ 'assets/images/john-points.jpg' | absolute_url }}" alt="Picture: John Points" /></a>
              <p>I'm not the typical techie. I didn't take a traditional path to working in tech, and I openly share my story to inspire others to find their place working in technology.</p>
            </article>
            <article>
              <h3>My resume</h3>
              <a href="{{'/resume/' | absolute_url }}" class="image"><img src="{{ 'assets/images/john-frac.jpg' | absolute_url }}" alt="Picture: John Fractal Portrait" /></a>
                <p>Read about my work history, education, the tools I've used, and projects I've worked on during my career.</p>
            </article>
            <article>
              <h3>My portfolio</h3>
              <a href="{{'/portfolio/' | absolute_url }}" class="image"><img src="{{ 'assets/images/santa-cruz-boardwalk-sunset.jpg' | absolute_url }}" alt="Picture: Sunset at Santa Cruz" /></a>
              <p>See examples of my work, including UX writing projects, and videos of my presentations.</p>
            </article>
          </div>
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            <li class="fa-phone">{{ site.phone }}</li>
            <li class="fa-home">{{ site.city }}, {{ site.state }} {{ site.zip_code }}, {{ site.country }}</li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }}. All rights reserved.
            <br/>Design: <a href="https://html5up.net">HTML5 UP</a>. 
            <br/>Jekyll integration: <a href="https://andrewbanchi.ch">Andrew Banchich</a></p>
        </footer>

    </div>
  </div>
